body {
    color: white;
    background: black;
}


header {
    border-bottom: solid 2px rgb(6, 95, 212);
    margin: 20px;
    font-size: 32px;
    color: rgb(6, 95, 212);
}

section {
    background: rgb(60,179,125);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
